@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Floating Scrollbar */
/* Custom Floating Scrollbar */
html {
    overflow-y: overlay;
    /* Allows scrollbar to float over content without affecting layout */
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    /* slate-300 */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
    /* slate-400 */
}

/* Firefox */
@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: #cbd5e1 transparent;
    }
}

/* Remove focus ring from CAPTCHA input */
#captcha_answer:focus {
    outline: none !important;
    box-shadow: none !important;
    --tw-ring-shadow: none !important;
}